.about-content {
    display: grid;
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    gap: 1.25rem; 
    width: 100%; 
    max-width: 1280px; 
}

.about-card {
    overflow: hidden; 
    padding: 0.75rem; 
    grid-column: span 1 / span 1; 
    border-radius: 0.75rem; 
    border-width: 1px; 
    border-color: #E5E7EB; 
    height: fit-content; 
    background-color: #ffffff; 
    cursor: pointer; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    border: 1px solid lightgray;
}   

.about-card:hover {
    transform: scale(1.02);
}

.about-card-logo {
    display: flex; 
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.about-card-content {
    max-width: 28rem; 
    text-align: center;
    margin: 0 auto;
}

.about-card-content > h1 {
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 700; 
}

.about-card-content > p {
    margin-top: 0.5rem; 
    line-height: 1.5; 
    color: #6B7280; 
}

@media (min-width: 768px) { 
    .about-content {
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }

    .about-card-content > h1 {
        font-size: 3rem;
        line-height: 1; 
    }

    .about-card.lg {
        grid-column: span 2 / span 2;
    }

    .about-card.xl {
        grid-column: span 3 / span 3;
    }
}
  
@media (min-width: 1280px) {
    .about-content {
        padding-left: 0;
        padding-right: 0; 
    }
}
